* {
  box-sizing: border-box;
  margin: 0;
}

.sectionWrapper {
  height: 50px;
  width: 90%;
}
.heading {
  justify-content: left;
  width: 20%;
  height: 23px;
  font-size: 20px;
  color: black;
}

.iconImages {
  justify-content: right;
  background-image: url(/img/icons.png);
}

.headingWrapper {
  width: 100%;
  justify-content: center;
}

.title {
  font-size: 20px;
  text-align: center;
}

.line {
  margin: 20px auto;
  width: 64px;
  height: 2px;
  background-color: orangered;
}

.slogan {
  text-align: center;
}

.imagesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 66px;
  bottom: 111px;
}

.item {
  height: 197px;
  text-align: center;
}

.imagesItem {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid orangered;
  margin: 0 auto 27px;
  background-repeat: no-repeat;
  background-position: center;
}
.bulb {
  background-image: url(/img/light\ bulb.png);
}

.lightning {
  background-image: url(/img/lightning.png);
  background-color: red;
}

.keyboard {
  background-image: url(/img/keyboard.png);
  background-color: red;
}

.subtitle {
  font-size: 20px;
  color: black;
}

.articleWrapper {
  width: 100%;
  height: 100px;
  margin-top: 102px;
  text-align: center;
}

.contentWrapper {
  display: flex;
  text-align: center;
}

.table {
  width: 30%;
  padding-top: 20px;
  padding-bottom: 40px;
  list-style-type: none;

  flex-wrap: wrap;
}
.basic {
  width: 90%;
  padding-top: 20px;
  color: blanchedalmond;
  background-color: black;
}

.zero {
  width: 90%;
  padding-top: 20px;

  color: blanchedalmond;
  background-color: black;
}

.free {
  width: 90%;
  padding-top: 20px;
  color: blanchedalmond;
  background-color: black;
}

li {
  width: 90%;
  border: 2px solid red;
  background-color: darkgreen;
}

.coverWrapper {
  position: absolute;
  background-image: url(/img/pic.jpg);
}
.bottom {
  padding: 12px 30px;
  margin: 60px 120px 60px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 15px;
  border: 1px solid red;
}
